
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top" id="menu-fix">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/dashboard">Accueil</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/travel">Trouver un voyage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<footer>
<div class="container-fluid row bg-inverse footer-noir">
    <div class="row col">
      <p class="text-white">© 2017 - tous droits reservé</p>
    </div>
    
    <div class="row col">
      <ul class="list-inline text-white">
        <li class="list-inline-item"><a href="#" class="text-white">voyage.com</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Acceuil</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Trouver un voyage</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Contact</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">CGU</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Site Map</a></li>
      </ul>
    </div>
    </div>
</footer>