

	<div class="container" style="min-height: 800px; margin-top:30px;"  >
	
	<div id="formulaire-text">
	Nous contacter par tel : 0102030405 (du lundi au vendredi de 9h à 17h) <br>
	Vous souhaitez nous contacter en-dehors de cette période?<br>
	Remplissez le formulaire ci-dessous ! :-)
	</div>
	<br><br>
	
	
	<div id="formulaire-contact form-group">
		<form>
			<div class="form-group">
				<label>Nom : </label>
				<input type="text" placeholder="ex: Wololo..">
			</div>
			
			<div class="form-group">
				<label>Mail : </label>
				<input type="text" placeholder="ex: Wololo@mail.com..">
			</div>
			
			<div class="form-group">
				<label>Votre message :</label>
				<input type="textarea">
			</div>
			
			
			
			<button>Envoyer</button>
		</form>
	</div>

</div>