#wrapper{
	height: auto;
	margin-left: 5em;
	margin-right: 5em;
	padding: 1em;
}

#image-background-travel{
	/* image de background */
	background-image: url(image/background-travel2.jpg);
	/* height: 20em; */
	background-repeat: repeat-x;
	background-position: center;
    height: auto;
    width: 100%;
}

/* TRAVEL */

.row {
	display: flex;
    width: 100%;
    margin-bottom: 25px;
    justify-content: space-around;
    margin: 0;
}
.hoverbtn {
    display: inline-block;
    width: auto;
	height: 90px;
	padding-right: 2em;
    padding-left: 2em;
    margin-top: 20px;
    font-size: 18px;
    font-weight:400;
    line-height: 90px;
    cursor: pointer;
    /*  margin: 10px;*/
    /* font-family:"Roboto"; */
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff; 
}

.hoverbtn:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hoverbtn:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
/* Effect 2 */
 .hoverbtn.effect-2 {
    color: #fff;
    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.hoverbtn.effect-2:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: ;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
/* Effect 2b */
 .hoverbtn.effect-2.sub-b:hover:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    /* opacity: 0; */
    -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
    -moz-transition: -moz-transform 0.4s, opacity 0.2s;
    transition: transform 0.4s, opacity 0.2s;
}
.hoverbtn.effect-2.sub-b:hover, .hoverbtn.effect-2.sub-b:hover i {
    color: #eea303;
    background-color: #fff;
}
/* contient location & activity */
.location-activity {
	display: flex;
	flex-direction: row;
	text-align: center;
	background-color: ;
	margin-top: 5em;
}
 
.location {
	padding: 1em;
}


.seasons {
	text-align: center;
	background-color: ;
}

.travel {
		padding-top: 5em;
}
