#wrapper{
	height: auto;
	margin-left: 5em;
	margin-right: 5em;
	padding: 1em;
}

#image-background-travel{
	/* image de background */
	background-image: url(image/background-travel2.jpg);
	height: 35em; 
	/* background-repeat: repeat-x; */
	background-position: center;
    width: 100%;
}

/* TRAVEL */

.row {
	display: flex;
    width: 100%;
    margin-bottom: 25px;
    justify-content: space-around;
    margin: 0;
}
.hoverbtn {
    display: inline-block;
    width: auto;
	height: 90px;
	padding-right: 2em;
    padding-left: 2em;
    margin-top: 20px;
    font-size: 18px;
    font-weight:400;
    line-height: 90px;
    cursor: pointer;
    /*  margin: 10px;*/
    /* font-family:"Roboto"; */
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff; 
}

.hoverbtn:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hoverbtn:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
/* Effect 2 */
 .hoverbtn.effect-2 {
    color: #fff;
    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.hoverbtn.effect-2:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: ;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
/* Effect 2b */
 .hoverbtn.effect-2.sub-b:hover:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    /* opacity: 0; */
    -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
    -moz-transition: -moz-transform 0.4s, opacity 0.2s;
    transition: transform 0.4s, opacity 0.2s;
}
.hoverbtn.effect-2.sub-b:hover, .hoverbtn.effect-2.sub-b:hover i, .hoverbtn.effect-2.sub-b:active  {
    color: #eea303;
    background-color: #fff;
}
/* contient location & activity */
.location-activity {
	display: flex;
	flex-direction: row;
	text-align: center;
	background-color: ;
	margin-top: 5em;
}
 
.location {
	padding: 1em;
}


.seasons {
	text-align: center;
	background-color: ;
}

.travel {
		padding-top: 5em;
}

/* RESULT */

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    text-align: center;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 125px;
    height: 125px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.col-lg-6 {
	margin-top : 15px;
}












