
	<div id="wrapper">
		<div id="image-background-travel" class="img-responsive">
	
		<div id="travel-haut row">
			<div class="col-lg-12 seasons">
				<div id="seasons" class="travel block">					
					<i class="hoverbtn effect-2 sub-b" (click)="clickSaison('Printemps')">Printemps</i>
					<i class="hoverbtn effect-2 sub-b" (click)="clickSaison('Eté')">Eté</i>
					<i class="hoverbtn effect-2 sub-b" (click)="clickSaison('Automne')">Automne</i>
					<i class="hoverbtn effect-2 sub-b" (click)="clickSaison('Hiver')">Hiver</i>
				</div>
			</div>
			
			<div class="col-lg-12 location-activity">
				<div class="col-md-6 row">
					<div id="location" class="travel">
						<!-- mer/montagne --> 
						<i class="hoverbtn effect-2 sub-b" (click)="clickLocalisation('Mer')">Mer</i>
						<i class="hoverbtn effect-2 sub-b" (click)="clickLocalisation('Montagne')">Montagne</i>
					</div>
				</div>
				
				<div class="col-md-6 row">
					<div id="activity" class="travel">
						<!-- sport/détente --> 
						<i class="hoverbtn effect-2 sub-b" (click)="clickActivite('Sport')">Sport</i>
						<i class="hoverbtn effect-2 sub-b" (click)="clickActivite('Détente')">Détente</i>
					</div>
				</div>
			</div>
		</div><!-- fin de travel-haut -->
		</div><!-- fin div image background -->
		
		
		
		
		<div id="travel-bas" class="hidden">
			<div class="container" id="result"> <!-- div qui affichera le résultat, cachée de base -->
				<div class="result1" *ngFor="let voyage of voyagesFiltres">
				<!-- résultat 1 -->
				<div class="col-lg-6 ">
				<img class="card-img-top" src="{{voyage.photo}}">
				
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title mt-3">Voici, votre destination idéale : {{voyage.name}}</h4>
                                  
                        <div class="card-text">
                        	Selon vos critères : 
                        	<ul>
                        		<li>{{voyage.saison}}</li>
                        		<li>{{voyage.localisation}}</li>
                        		<li>{{voyage.activite}}</li>
                        		<!-- <li>{{voyage.description}}</li>-->
                        		
                        		</ul>
                           </div>
                    </div>
                    <div class="card-footer">
						 <a class="nav-link btn btn-secondary float-right btn-sm" [routerLink]="['/article', voyage.id]">Voir l'article</a>
                    </div>
                </div>
            </div>
				</div>
			
			</div> <!-- fin de result -->
		</div> <!-- fin de travel-bas -->
	</div><!--  fin de wrapper -->