<h3>Ceci est la page de recherche de voyage, travel.component.html</h3>


	<div id="wrapper">
		<div id="image-background-travel" class="img-responsive">
	
		<div id="travel-haut row">
			<div class="col-lg-12 seasons">
				<div id="seasons" class="travel block">					
					<i class="hoverbtn effect-2 sub-b">Printemps</i>
					<i class="hoverbtn effect-2 sub-b" >Eté</i>
					<i class="hoverbtn effect-2 sub-b">Automne</i>
					<i class="hoverbtn effect-2 sub-b">Hiver</i>
				</div>
			</div>
			
			<div class="col-lg-12 location-activity">
				<div class="col-md-6 row">
					<div id="location" class="travel">
						<!-- mer/montagne --> 
						<i class="hoverbtn effect-2 sub-b">Mer</i>
						<i class="hoverbtn effect-2 sub-b">Montagne</i>
					</div>
				</div>
				
				<div class="col-md-6 row">
					<div id="activity" class="travel">
						<!-- sport/détente --> 
						<i class="hoverbtn effect-2 sub-b">Sport</i>
						<i class="hoverbtn effect-2 sub-b">Détente</i>
					</div>
				</div>
			</div>	
		</div><!-- fin de travel-haut -->
		</div><!-- fin div image background -->
		
		
		
		
		<div id="travel-bas" class="hidden">
			<div id="result"> <!-- div qui affichera le résultat, cachée de base -->
				<div class="result1">
				<!-- résultat 1 -->1
				</div>
				
				<div class="result2">
				<!-- résultat 2 -->2
				</div>
			
			</div> <!-- fin de result -->
		</div> <!-- fin de travel-bas -->
	</div><!--  fin de wrapper -->