.carousel {
    bottom: 8px;
}

.carousel-item > .carousel-caption {
    bottom: 35%;
}
#fond-concept {
    background-color: #EDE9DA;
}

.icone-concept {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #6b654b;
    color: white;
    font-size: 110px;
    padding: 15px;
    width: 140px;
    border-radius: 120px;
    z-index: 10;
}

.marge-concept{
    margin-top: 50px;
}

.pointiller {
    position: absolute;
    top: 16%;
    height: 60%;
    width: 50%;
    border-right: 2px dashed #6b654b;
    z-index: 0;
}

.modification-bouton{
    margin: auto;
}

body {
    background-color: #EDE9DA;
}


#video_tue {
    position: relative;
    overflow: hidden;
    padding: 0;
    overflow: hidden;
    height: 12em;
    margin-bottom: 0!important;

}

#video_tue div{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1.5em;
    margin-bottom: 0;

}

#video_tue video{
    width: 100%;
    height: auto;
    overflow: hidden;
    
}


#video_tue {
    width: 200%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    transform: translate(-25%);
}

.footer-noir{
    padding-top: 25px;
}